


body {font-family: sans-serif;
    font-size: 10pt;
}
p {    margin: 0pt;
}
td { vertical-align: top; }
.items td {
    border-left: 0.1mm solid #000000;
    border-right: 0.1mm solid #000000;
}
table thead td { background-color: #EEEEEE;
    text-align: center;
    border: 0.1mm solid #000000;
}
.items td.blanktotal {
    background-color: #FFFFFF;
    border: 0mm none #000000;
    border-top: 0.1mm solid #000000;
    border-right: 0.1mm solid #000000;
}
.items td.totals {
    text-align: right;
    border: 0.1mm solid #000000;
}

.items td.white {
   
    border: 0.0mm solid #ffffff;
}

.littlefont
{
	font-size:7pt;	
	text-align:left;
	border-right: 0.1mm solid #000000;
}

.littleFontLast
{
	font-size:6pt;
	text-align:left;
}

.littleFontcenter
{
	font-size:6pt;
	text-align:center;
	/*border-left: 0.1mm solid #000000;
	border-top: 0.1mm solid #000000;*/
	border-right: 0.1mm solid #000000;
}

.littleFontcenternoright
{
	font-size:6pt;	
	text-align:center;
}

.littleFontNoBottomBordered
{
	font-size:6pt;	
	/*border-bottom:0px;*/
	border-bottom:none;
}

.littleFontNoBottomBorderedLast
{
	font-size:6pt;	
	border-bottom:none;
}

.normalFont
{
	font-size:8pt;
	border-right: 0.1mm solid #000000;
}

.normalFontLast
{
	font-size:8pt;
	border-right: 0.1mm solid #000000;
}

.normalFontnoright
{
	font-size:8pt;
}

.normalFontcenter
{
	font-size:6pt;
/*	border-left: 0.1mm solid #000000;*/
	border-right: 0.1mm solid #000000;
	text-align:center;
}

.normalFontcenterLast
{
	font-size:8pt;
	text-align:center;
}

.pageNumber:before
{
	content:counter(page);
}