body
{
	margin: 10px;
	font-family: arial;
	font-size: 11px;
}

table
{
	width: 100%;
	height: 100;
}

td
{
	vertical-align: top;
}

td.destinatario
{
	border: 1px solid #000;
	vertical-align: top;
	padding-left: 5px;
}

td.bordo_semplice
{
	padding: 5px;
	border: 1px solid #000;
}

table.tabella_elementi
{
	min-height: 400px;
	border: 1px solid #000;
}