.enhanced-dialog-container {
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999999999999999999998;
    
    background-color: rgba(78,78,78,0.4);
    visibility: hidden;
    opacity: 0;
}

.enhanced-dialog-fade {
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.enhanced-dialog-container-show {
    opacity: 1;
    visibility: visible;
}

.enhanced-dialog {
    position: fixed;
    z-index: 999999999999999999999999;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 350px;
    min-height: 300px;
    width: 25vw;
    height: 45vh;
    left: 37.5vw;
    top: 30vh;
    
    background-color: #fff;
    border: 1px solid #aaa;
}

.enhanced-dialog .enhanced-dialog-title {
    height: 20%;
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
    border-bottom: 1px solid #aaa;
}

.enhanced-dialog .enhanced-dialog-title .enhanced-dialog-title-icon {
    position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding-left: 30px;
}

.enhanced-dialog .enhanced-dialog-title .enhanced-dialog-title-text {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.enhanced-dialog .enhanced-dialog-message {
    height: 55%;
    width: 100%;
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    overflow-y: auto;
    /* display: flex;*/
    align-items: center;
}

.enhanced-dialog .enhanced-dialog-message-text {
    word-wrap: break-word;
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.enhanced-dialog .enhanced-dialog-buttons {
    margin-top: 2%;
    height: 13%;
    text-align: center;
    letter-spacing: 10px;
}

.enhanced-dialog .enhanced-dialog-buttons .btn {
    transition: all 0s;
    padding: 1% 16px;
}