/*
    Here you can add your custom css rules
*/

/** elements rules **/

.clonable * {
	font-size: 12px;
} 

/* checkboxes */
.clonable .form-md-checkboxes {
	margin: 0px;	
}

.clonable .form-md-checkboxes .control-label {
    width: 0px;
    padding-left: 10px;
}

.clonable .checkbox-centered {
	text-align: center;
}

/* timepicker */

.clonable .timepicker-container {
    /*max-width: 100px;*/
    display: inline-block;
}

.clonable .timepicker {
    width: 70%;
}

.clonable .timepicker-container .input-group-btn {
	display:inline-block;
	width:30%;
}

/* datepicker */

.clonable .date-picker-container {
    display: inline-block;
}

.clonable .date-picker {
    width: 70%;
}

.clonable .date-picker-container .input-group-btn {
	display:inline-block;
	width:30%;
}

.clonable .date-picker-container .input-group-btn {
	display: inline-flex;
}

.clonable .date-picker-container .input-group-btn button {
	width: 52%;
	height: 34px;
	border: 0;
}

/* select */

.clonable select {
	float: none !important;
}

/* filterable select */


.clonable .clonable-element-input-container {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.clonable .multiple-select-container .multiselect.dropdown-toggle {
	min-height: 39px;
	border: 0;
}

.clonable .multiple-select-container .input-group-btn.multiple-select-actions {
	padding-top: 0;
	padding-bottom: 0;
}