.clone {
	padding-left: 0px;
	padding-right: 0px;
}

.clonable-element {
	padding: 15px !important;
	padding-left: 0 !important;
	display: block !important;
}

.clonables-container {
	max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 3px 3px 8px -4px rgba(0,0,0,0.4);
}

.clonable-element .header-content {
	padding: 10px 10px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
}

.clonable-element .clonable-head {
	margin-bottom: 0;
}

.clonable-element .content {
	padding: 0px;
}

.clonable-actions {
	padding-left: 10px !important;
	cursor: default;
	
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.clonable-actions span i {
	width: 100%;
	height: 100%;
	font-size:18px !important;
    cursor: pointer;
    margin-top:5px;
    cursor: pointer;
}

.clonable-actions span:empty {
	height: 0px;
	height: 0px;
	padding: 0;
	border: none;
}

.clonable-actions span {
	display: inline-block;
	padding: 0;
	width: 20px;
	height: 20px;
	margin: 0px !important;
}

.clonable-actions .move-container div {
	height: 1px;
}

.clonable-actions .move-container i {
	padding: 5px;
}

.clonable-actions .copy-container {
    /*margin-right:10px !important;
    margin-top: 5px !important;*/
}

.clonable-actions .clear-container {
    /*margin-right:10px !important;
    margin-top: 5px !important;*/
}

.clonable-actions .moveup-container {
    /*margin-right:10px !important;  
    margin-top: 5px !important;*/
}

.clonable-element .form-group .col-md-1, .col-md-2, .col-md-3 {
    padding:0px;
}

.clonable-element .form-group .col-md-4 {
    padding-left:0px;
}

.clonable {
    margin: 0 !important;
}

.clonable-disabled {
	opacity: 0.5;
	pointer-events: none;
}

.clonable-message {
	color: #ff0033;
}

.clonable-element .clonable-head .header-empty-message {
	background-color: #ddd;
	height: 40px; 
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0px;
}

.clonable .clonable-element-input-container {
	border-bottom: 1px solid rgba(0, 0, 0, .4);
	border-right: 1px solid rgba(0, 0, 0, .4);
	padding-bottom: 1px;
	margin: 0;
	min-height: 40px;
}

.clonable .clonable-element-input-container input[name],
.clonable .clonable-element-input-container select[name] {
	min-height: 38px;
	padding: 2px;
}

.clonable .clonable-element-input-container:first-child {
	border-left: 1px solid rgba(0, 0, 0, .4);
}

.clonable .clonable-element-input-container:last-child {
	border-right: 0;
}

.clonables-container .clonable:fist-child .clonable-element-input-container {
	border-top: 1px solid rgba(0, 0, 0, .4);
}

.clonables-container .clonable:last-child .clonable-element-input-container {
	border-bottom: 0;
}