<table style ="border-collapse: collapse;font-family: Courier New, Courier, monospace;font-size: 5pt;margin-top:2mm;">
    <tbody>
        <tr>
            <td style="text-align:justify;">
                <?= $settings['Setting']['bill_subscript_note']; ?>
            </td>
        </tr>
	</tbody>
</table>