.mega-form .slim-scroll-div {
    position: relative;
}

.mega-form .modal-content {
    width: calc(100vw - 47.5px);
    height: calc(100vh - 70px);
    overflow-y: hidden;
}

.mega-form .modal-body {
    overflow-y: hidden;
    overflow-x: auto;
    padding: 0;
}

.mega-form:not(.inner-mega-select) .modal-dialog {
    width: calc(100vw - 47.5px);
    margin-left: 17.5px;
    margin-top: 35px;
}

.mega-form .mega-form .modal-dialog {
    margin: 0;
}

.mega-form.inner-mega-select .modal-dialog {
    margin: 0 auto;
}

.mega-form {
    display: none;
}

.mega-form .page-content {
    height: calc(100vh - 120px - 50px);
    overflow-y: auto;
}

.mega-form .form-body {
    height: calc(100% - 120px - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.modal-backdrop {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 10049 !important;
}

.mega-form .mega-form-breadcrumbs {
    margin-bottom: 0;
}

.mega-form .page-content {
    /*min-height: auto !important;*/
    margin-bottom: 0;
}

.mega-form .nav-tabs li a {
    color: #000 !important;    
}

.mega-form .breadcrumbs .breadcrumb > li > a:hover {
    color: #5b6a77;
    text-decoration: none;
}

.mega-form .breadcrumbs .breadcrumb > li > a {
    color: #6c7b88;
    text-transform: uppercase;
}

