
   <tr></tr>
    </tbody>
</table>
<pagebreak>
&nbsp;
<table class="items" width="100%" height="100%" style="font-size: 9pt;font-family: Courier New, Courier, monospace;margin-top:-82px;border:0.1px solid black; border-collapse: collapse; " cellpadding="6">
    <?= $this->element('pdfBodies/tableheader_default_bill'); ?>
<tbody>
