<?php
	ini_set('memory_limit', '512M');
	set_time_limit(200);
?>
<table cellpadding="0" cellspacing="0" style="font-family:arial;">
	<tr>
		<th>Codice</th>
		<th>Fornitore</th>
		<th>Descrizione</th>
		<th>Quantità</th>
		<th>Fornitore</th>
	</tr>
	<?php foreach($storages as $storage): ?>
	<tr>
		<td><?php echo h($storage['Storage']['codice']); ?>&nbsp;</td>
		<td><?php echo h($storage['Storage']['codice_fornitore']); ?>&nbsp;</td>
		<td><?php echo h($storage['Storage']['descrizione']); ?>&nbsp;</td>
		<td><?php echo h($storage['Storage']['qta']); ?>&nbsp;</td>
		<td><?php echo h($storage['Supplier']['name']); ?>&nbsp;</td>
	</tr>
	<?php endforeach; ?>
</table>
