<?= $this->element('Js/addfixedcostpercentagerow'); ?>

<div class=" -badge">
    <a  href="javascript:;" ><span class = "blue-button btn-outline dropdown-toggle add_fixed_cost_percentage" 
    style="margin-right:260px;padding:5px;font-size:13pt;font-weight:normal;text-transform:uppercase !important;font-family: 'Barlow Semi Condensed' !important;">Aggiungi riga spese fisse</span></a>
</div>

<script>
     addFixedCostPercentageRow(".add_fixed_cost_percentage",".add_row_clonable");
</script>