	<div style="font-size:10px;float:right;width:30%;font-weight:bold;margin-bottom:3px;margin-right:40px;margin-top:10px;">
		<!-- span class = "rosso" style="float:right;"> Mail non inviata </span><i class="uk-icon-envelope icon rosso" style="float:right;margin-left:10px;"></i><span class="verde" style="float:right;"> Mail inviata </span><i class="uk-icon-envelope icon verde" style="float:right;margin-left:10px;"></i><span class="azzurro" style="float:right;"> Mail letta </span><i class="uk-icon-envelope icon azzurro" style="float:right;"></i-->
	</div>