<?=  $this->Form->create('Groups'); ?>

	  <span class="caption-subject bold uppercase" style="color:#589AB8;font-size:16px;"><?= __('Nuovo Gruppo') ?></span>
		 <div class="col-md-12"><hr></div>
    
    <div class="form-group col-md-12">
        <label class=\"form-margin-top form-label\"><strong>Descrizione</strong></label>
        <div class="form-controls"> 
	        <?=   $this->Form->input('description', array('div' => false, 'label' => false, 'class'=>'form-control', 'id'=>'lunghezza2')); ?>
	    </div>
    </div>

    <div class="col-md-12"><hr></div>
	 <center><?= $this->Form->submit(__('Salva',true), array('class'=>'btn blue-button new-bill')) ?></center>
	  <?= $this->Form->end(); ?>
