
.lightbox {
    display: none;
    width: 100%;
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 99990;
    position: fixed;
}

.lightbox-show {
    display: inline-block;
}