.multiselect-container.dropdown-menu a {
    padding: 3px 20px;
}

.multiselect-container.dropdown-menu .checkbox {
    padding: 3px 20px 3px 20px;
}

.multiselect-container.dropdown-menu {
    max-height: 153px;
    overflow-y: scroll;
    min-width: 100%;
    margin-bottom: 30px;
    z-index: 999999999999;
    position: absolute;
}

.multiple-select-container {
    width: 99.97%;
}

.multiple-select-container.has-actions>.input-group-btn {
    width: 1%;
    vertical-align: top;
}

.multiple-select-container.has-actions>.input-group-btn button {
    padding: 0;
}

.multiple-select-container.has-actions>.input-group-btn a {
    text-decoration: none;
    color: #666;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 9px 12px;
}

.multiple-select-container.has-actions .multiselect.dropdown-toggle.btn.btn-default {
    width: 99.7% !important;
}