<tr>
    <td width="40%" colspan="2" style="border: 0mm solid #000;float:left;" ><img style="height:4.5cm;" src="img/societa/<?= $companyLogo ?>"></td>
    <td width="60%"  style="border: 0mm solid #000;font-size: 13px;"><?= $this->element('pdfHeaders/intestazionedittadolce'); ?></td>
</tr>


