<?php $contatore = 0; ?>
<td style="width:85mm;border: 0.2mm solid #000000; padding-left:10px;padding-top:5px;">
    <span style="font-size: 8pt; color: #000000; font-family: sans;"><b>Spett.le:</b></span>
    <br />
    <?php if ($_SESSION['Auth']['User']['dbname'] == 'login_GE0050') { ?>
    <?= $bill['Bill']['note']; ?>
    <?php } ?>
    <?php strlen($bill['Bill']['client_name']) > 42 ? $contatore++ : null; ?>
    <?= $bill['Bill']['client_name']; ?>
    <br/>
    <?php strlen($bill['Bill']['client_address']) > 42 ? $contatore++ : null; ?>
    <?= $bill['Bill']['client_address']; ?>
    <br />
    <?php
        $address = $bill['Bill']['client_cap'] . ' ' . $bill['Bill']['client_city'] . ' ' . $bill['Bill']['client_province'];
        if(isset($bill['Nation']['name']))
            $address .= ' - ' . $bill['Nation']['name'];
    ?>
    <?php strlen($address) > 42 ? $contatore++ : null; ?>
    <?= $address; ?>
    <?php
        for ($i =0; $i < (5 - $contatore); $i++)
        {
            echo '<br />';
        }
    ?>
</td>