<?= $bill['Bill']['client_shipping_name']; ?><br /><br /><?= $bill['Bill']['client_shipping_address']; ?><br /><?= $bill['Bill']['client_shipping_cap'] . ' ' . $bill['Bill']['client_shipping_city'] . ' ' . $bill['Bill']['client_shipping_province']; ?>
<?= isset($bill['Bill']['client_shipping_nation']) ? ' - ' . $bill['Bill']['client_shipping_nation'] : null;  ?>
<br /><br />